@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

.container {
  padding: 20px 0 0 0;
  justify-content: center;
  width: 100%;
  flex-direction:row
}

.icon {
  padding: 0 10px;
  color: #EA2845;
}

.title {
  color: #EA2845;
  font-family: 'Kavoon';
}