$primary-color: #EA2845;

.player {
  margin: 0;
  padding: 0 10px;

  position: fixed;
  bottom: 0;

  height: 70px;
  width: 100%;

  display: flex;
  align-items:center;

  background: #fff;
  border: 3px solid $primary-color;
  border-radius: 10px;

  font-family: Roboto, sans-serif;
}

.play,
.left,
.right {
  color: $primary-color;
}

.name {

}

.artist {

}