@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Cherokee:wght@400;500;600;700;800;900&display=swap');


.track {

  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  background: #1b1b1b;
  border: 3px solid #EA2845;
  border-radius: 10px;
  width:80vw;
}

.icon {
  color: #fff;
}

.image {
  margin: 0 30px 0 0;
  width:100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 10px;
}

.info {
  font-family: 'Noto Sans Cherokee';
  color: #fff;

}
.name {
  font-size: 28px;
  font-family: 800;
}

.artist {
  color: #999;
  font-size: 22px;
  font-family: 400;
}